body {
    display: inline-block;
    width: 1512px;
}

.container {
    width: 100%;
    padding-bottom: 108px;
    text-align: center;
}

.row {
    width: 70%;
    margin-left: 234px;
}

.row-wide {
    width: 85%;
    margin-left: 113.4px;
}

@media;
