.header-container {
    padding-bottom: 0;
}

.header-content {
    height: 109px;
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 272px;
}

.logo {
    font-size: 24px;
    margin-top: 40px;
}

.header-menu {
    margin-top: 49px;
}

.header-menu a {
    font-size: 20px;
    color: var(--black);
    text-transform: capitalize;
    padding-left: 50px;
}

.header-menu a:first-child {
    padding-left: 0;
}

.hero-container {
    height: 665px;
    background-image: url(../../img/hero_image.png);
    background-size: cover;
    background-position: fixed;
    text-align: center;
    margin: 0 83px 0 83px;
    padding-bottom: 110px;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 163px;
}

.hero-container p {
    padding: 27px 0 125px 0;
}
